.listInfo {
  width: 600px;
  height: 60px;
  background-image: linear-gradient(95deg, #4a98db, #7741ad, #5e8cba);
  display: flex;
  border-radius: 10px;
  margin-left: 458px;
  margin-top: 10px;
}
.nameAge {
  display: flex;
  margin-left: 20px;
}
.title {
  margin-right: 10px;
}
